.footer {
    background-color: #141414;
    color: #FCA311;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    margin-top: 130px;
}

.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer__links li {
    margin-right: 50px;
}

.footer__links li:last-child {
    margin-right: 0;
    margin-bottom: 20px;
}

.footer__links a {
    color: #FCA311;
    text-decoration: none;
    transition: 0.3s ease;
}
.footer__links :hover{
    color:#f8f4f9 ;
    transition: 0.3s ease;
  }
.footer__social {
    margin-top: 20px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer__icon {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    object-fit: contain;
}
.footer__icon--telsip{
    width: 70px;
    height: 50px;
    margin: 0 15px;
    object-fit: contain;
}
.footer__copy {
    margin-top: 20px;
    font-size: 15px;
}

.footer p {
    color: aliceblue;
}
@media (max-width: 700px) {
    .footer__links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9em;
    }
    .footer__links li {
        margin-right: 0px;
    }
    .footer__icon {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        object-fit: contain;
    }
    .footer__icon--telsip{
        width: 50px;
        height: 40px;
        margin: 0 10px;
        object-fit: contain;
    }
    .footer__copy {
        font-size: 12px;
    }
  }