/*NAVBAR STYLES*/
.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
  }
  .nav-img{
    opacity: 0;
    animation: fadeInLeft 2s ease forwards;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    margin-top: 45px;
    opacity: 0;
    animation: fadeInRight 2s ease forwards;
  }
  
  .nav-content a {
    padding: 17px;
    padding-top: 0px;
    text-decoration: none;
    color: #FCA311;
    font-size: 1.35em;
    transition: 0.3s ease;
  }
  .nav-content :hover{
    color:#f8f4f9 ;
    transition: 0.3s ease;
  }
  .logo {
    height: 90px;
    margin-top: 8px;
  }
  .btn {
    color: #FCA311;
    text-decoration: none;
    border: 3px solid #fca311;
    padding: 6px 16px;
    font-size: 1em;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #f8f4f9;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #fca311;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }
  @media (max-width: 700px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
      margin-left: 0px;
    }
    
    .nav-content {
    flex-direction: column ;
    align-self: center;
    margin-top: 10px;
    font-size: 0.9em;
    }
    .logo {
      height: 70px;
      margin-top: 8px;
    }
    .docs{
        display: none;
      }
  }
